<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<add key="GGProcessName" value="GuiltyGearXrd"/>		
		<add key="P2IdOffset" value="0x1BDBE08"/> <!-- TODO -->
		<add key="RecordingSlotPtr" value="0x00BCA484"/>
		<add key="RecordingSlotPtrOffset" value="0x1C"/>

		<add key="P1AnimStringPtr" value="0x01B22358"/>
		<add key="P1AnimStringPtrOffset" value="0x2444"/>
		<add key="P2AnimStringPtr" value="0x01B2235C"/>
		<add key="P2AnimStringPtrOffset" value="0x2444"/>
		<add key="FrameCountOffset" value="0x1941EF4"/>

		<add key="ScriptOffset" value="0xb825e0"/> <!-- TODO -->

		<add key="P1ComboCountPtr" value="0x01B2235C"/>
		<add key="P1ComboCountPtrOffset" value="0x9F28"/>
		<add key="P2ComboCountPtr" value="0"/> <!-- TODO -->
		<add key="P2ComboCountPtrOffset" value="0"/> <!-- TODO -->

		<add key="UpdateLink" value="https://github.com/Iquis/rev2-wakeup-tool/releases"/>
		<add key="DummyIdPtr" value="0x00BEC994"/>
		<add key="DummyIdPtrOffset" value="0x200"/>

		<add key="ReplayKeyOffset" value="0x1AE0C2C"/>
		<add key="BlockStunPtr" value="0x01B2235C"/>
		<add key="BlockStunPtrOffset" value="0x4D54"/>

		<add key="ReplayTriggerType" value="AsmInjection"/>

		<add key="CurrentVersion" value="0.9.1"/>

		<add key="AutoUpdate" value="1"/>
	</appSettings>
</configuration>
