<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<add key="GGProcessName" value="GuiltyGearXrd"/>		
		<add key="P2IdOffset" value="0"/> <!-- TODO -->
		
		<add key="RecordingSlotPtr" value="0x00BCA484|0x1C"/>

		<add key="P1AnimStringPtr" value="0x01B22358|0x2444"/>
		<add key="P2AnimStringPtr" value="0x01B2235C|0x2444"/>
		<add key="FrameCountOffset" value="0x009D1220|0xC"/>

		<add key="ScriptOffset" value="0xb825e0"/> <!-- TODO -->

		<add key="P1ComboCountPtr" value="0x01B2235C|0x9F28"/>		
		<add key="P2ComboCountPtr" value="0"/> <!-- TODO -->
		
		<add key="UpdateLink" value="https://github.com/Iquis/rev2-wakeup-tool/releases"/>
		<add key="DummyIdPtr" value="0x00BEC994|0x200"/>

		<add key="ReplayKeyOffset" value="0x00BE0020|0x40"/>
		
		<add key="P2BlockStunPtr" value="0x01B2235C|0x4D54"/>

		<add key="ReplayTriggerType" value="AsmInjection"/>

		<add key="CurrentVersion" value="0.9.1"/>

		<add key="AutoUpdate" value="1"/>
	</appSettings>
</configuration>
