<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<add key="GGProcessName" value="GuiltyGearXrd"/>
		<add key="P2IdOffset" value="0x1BDBE08"/>
		<add key="RecordingSlotPtr" value="0x00BAF5AC"/>

		<add key="P1AnimStringPtr" value="0x1B18C78"/>
		<add key="P1AnimStringPtrOffset" value="0x244C"/>
		<add key="P2AnimStringPtr" value="0x1B18C7C"/>
		<add key="P2AnimStringPtrOffset" value="0x244C"/>
		<add key="FrameCountOffset" value="0x1BD1F90"/>

		<add key="ScriptOffset" value="0xb825e0"/>

		<add key="P1ComboCountPtr" value="0x1B18C7C"/>
		<add key="P1ComboCountPtrOffset" value="0X7A58"/>

		<add key="UpdateLink" value="https://github.com/Iquis/rev2-wakeup-tool/releases"/>
		<add key="DummyIdOffset" value="0x1BDBE08"/>

		<add key="ReplayKeyOffset" value="0x1AD79EC"/>
		<add key="CurrentVersion" value="0.6.1"/>

		<add key="AutoUpdate" value="1"/>
	</appSettings>
</configuration>
